@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body .navbar_area {
  padding: 2vw;
}
body .navbar_area .row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
body .navbar_area .row .col ul {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}
body .navbar_area .row .col ul li {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  width: 4vw;
}
body .navbar_area .row .grid-item .col2 ul li #website_logo {
  width: 50vw;
  margin-left: 23vw;
  padding-right: 35vw;
}
body .navbar_area .row .col ul li #instagram, body #youtube, body #twitter, body #dribble, body #toggle_button {
  color: white;
}
body .navbar_area .row .col ul li #instagram :hover, body #youtube :hover, body #twitter :hover, body #dribble :hover, body #toggle_button :hover {
  color: greenyellow;
}

.second_section .row2 {
  grid-template-columns: auto auto auto;
  display: grid;
  padding: 4vw;
}
.second_section .row2 .grid-item p, .second_section .row2 .grid-item h1 {
  color: white;
}
.second_section .row2 .grid-item h1 {
  font-size: 6vw;
}
.second_section .row2 .grid-item #second_part {
  color: orangered;
}
.second_section .row2 .grid-item #lets_talk {
  -webkit-text-decoration: underline solid greenyellow;
          text-decoration: underline solid greenyellow;
  margin-left: 1vw;
  padding: 2vw;
}
.second_section .row2 .grid-item #lets_talk :hover {
  cursor: pointer;
  color: greenyellow;
}
.second_section .row2 .grid-item #far_right_colum {
  margin-top: 10vw;
  margin-left: 1.5vw;
}

.mouse {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mouse #mouse {
  color: white;
  font-size: 3vw;
  margin-top: 4vw;
}

.brands_worked_with {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vw 12vw 2vw 12vw;
}
.brands_worked_with h1 {
  color: white;
}

.brands_deco {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands_deco img {
  width: 4vw;
}

.third_section .row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.third_section .row .grid-item {
  padding: 3vw;
}

.fourth_section .row {
  display: grid;
  grid-template-columns: auto auto;
  padding: 4vw 12vw 4vw 12vw;
}
.fourth_section .row .grid-template {
  padding: 4vw;
}
.fourth_section .row .grid-template :hover {
  filter: grayscale(100%);
  cursor: pointer;
}
.fourth_section .row .grid-template p {
  color: white;
  line-height: 2vw;
  margin-top: 3.5vw;
}

.fifth_section {
  background-image: url(/static_folder/backpic.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin: 4vw 0vw 4vw 0vw;
  height: 30vw;
}
.fifth_section .next_step {
  background-color: rgba(0, 0, 0, 0.7);
  height: 30vw;
}
.fifth_section .heading_area {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}
.fifth_section .heading_service h1 {
  color: white;
  font-size: 3.5vw;
}
.fifth_section .dot_section {
  display: grid;
  justify-content: center;
  align-items: center;
}
.fifth_section .dot_section img {
  width: 4vw;
}
.fifth_section .services {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 4vw 10vw 0vw 14vw;
  height: 20vw;
}
.fifth_section .services .grid-template {
  padding: 4vw 0vw 0vw 0vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.fifth_section .services .grid-template p {
  color: white;
  font-size: 2vw;
  font-weight: 500;
}/*# sourceMappingURL=company.css.map */