@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    .navbar_area{
        padding: 2vw;
    }
    .navbar_area .row{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .navbar_area .row .col ul{
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
    }
    .navbar_area .row .col ul li{
        display: flex;
        align-items: flex-start;
        justify-items: flex-start;
        width: 4vw;
    }
    .navbar_area .row .grid-item .col2 ul li #website_logo{
        width: 50vw;
        margin-left: 23vw;
        padding-right: 35vw;
    }
    .navbar_area .row .col ul li #instagram , #youtube , #twitter , #dribble , #toggle_button {
        color: white;
        :hover{
            color: greenyellow;
        }
    }
}
.second_section{
    .row2{
        grid-template-columns: auto auto auto;
        display: grid;
        padding: 4vw;
        .grid-item{
            p , h1{
                color: white;
            }
            h1{
                font-size: 6vw;
            }
            #second_part{
                color: orangered;
            }
            #lets_talk{
                text-decoration: underline solid greenyellow;
                margin-left: 1vw;
                padding: 2vw;

                :hover {
                    cursor: pointer;
                    color: greenyellow;
                }
            }
            #far_right_colum{
                margin-top: 10vw;
                margin-left: 1.5vw;
            }
    }
}
}
.mouse{
    display: flex;
    justify-content: center;
    align-items: center;
    #mouse{
        color: white;
        font-size: 3vw;
        margin-top: 4vw;
    }
}
.brands_worked_with{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw 12vw 2vw 12vw;
    h1{
        color: white;
    }
}
.brands_deco{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 4vw;
    }
}
.third_section{
    .row{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        .grid-item{
            padding: 3vw;
        }
    }
}
.fourth_section{
    .row{
        display: grid;
        grid-template-columns: auto auto;
        padding: 4vw 12vw 4vw 12vw;
        .grid-template{
            padding: 4vw;
            :hover{
                filter: grayscale(100%);
                cursor: pointer;
            }
            p{
                color: white;
                line-height: 2vw;
                margin-top: 3.5vw;
            }
        }
    }
}